@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secondary-color: #63f054;
    --extra-color: #090e18;
    --extra-color-2: #1c6391;
    --font: "Nunito Sans", sans-serif;}

html {background-color: var(--bg-color);}

body {background-color: var(--bg-color);
      color: var(--primary-color);
      font-family: var(--font);
      height: 100vh;
      margin: 0;}

header {background-color: var(--extra-color);
        text-align: center;
        padding: 1px;}

h1 {font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;}

hr {border: solid 2px var(--secondary-color);
    box-shadow: 0px 0px 15px lime;}

nav {display: flex;
     justify-content: center;
     font-weight: 400;}

nav a {text-decoration: none;
       color: var(--primary-color);
       margin: 0 2rem 1rem 0rem;
       transform: scale(1);
       transition: text-shadow 3s, transform 1s;
       text-shadow: 0px 0px 0px white;
       font-size: 1.2rem;}

nav a:hover {text-decoration: underline;
             transform: scale(0.90);
             text-shadow: 0px 0px 10px white;
             transition: text-shadow 3s, transform 1s;}

.graficos-container {margin: 5rem;}

.grafico {margin-top: 3rem;}

.graficos-container__texto {font-size: 1.3rem;
                            text-align: center;
                            background: var(--extra-color);
                            padding: 2rem;
                            box-shadow: 0px 0px 15px lime;
                            border: var(--secondary-color) solid 2px;}

span {font-weight: bold;
      text-shadow: 0px 0px 15px lime;
      color: var(--secondary-color);}

footer {display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--extra-color);
        color: var(--primary-color);
        width: 100%;
        height: 3rem;
        margin-top: 2rem;}

footer a {color: var(--secondary-color);}